.success {
  @include flex-center;
  height: 60vh;
  flex-direction: column;
  letter-spacing: 2%;
  text-align: center;

  &__title {
    font-size: 30px;
    padding-bottom: 32px;
  }

  &__text {
    color: #4f5665;
    font-size: $fs-16;
    font-family: 'Ubuntu Medium';
  }
}
