//colors
$bgColor: #f5f4ff;
$red: #b4387a;
$blue: #003cff;
$blueHover: #7796c0;
$purple: #686df1;
$purpleSlider: #5b35d5;
$greySlider: #e2e8f0;
$grey: #4f5665;
$light-grey: #808080;
$orange: #eb801d;
$olive-active: #b2a35f;
$greyBg: #e7e7e7;
$placeholderGrey: #9092b0;
$black: #2d3748;
$khaki: #7b7454;

//font
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
$fs-35: 35px;
$fs-48: 48px;

//line height
$lh-50: 50px;
$lh-40: 40px;
$lh-30: 30px;
$lh-22: 22px;

//gaps
$gap-16: 16px;
$gap-10: 10px;

//media queries
$sm: 656px;
$lg: 920px;
$xl: 1300px;

//transition
$transition: all 0.3s ease;

//border radius
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-28: 28px;
