//colors
$bgColor: #F5F4FF;
$red:#B4387A;
$blue:#003CFF;
$purple:#686DF1;

//font
$fs-16: 16px;
$fs-24: 24px;
$fs-30: 30px;
$fs-35: 35px;
$fs-48: 48px;

//line height
$lh-50:50px;
$lh-30:30px;

//gaps
$gap-16: 16px;
$gap-10: 10px;

//media queries
$sm: 656px;
$lg: 920px;
$xl: 1300px;

//transition
$transition: all 0.3s ease;

//border radius
$border-radius:16px;


