.cashback {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 32px;

    @include respond-to(mobile) {
      gap: 20px;
    }
  }
}
