.formed {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: normal;
	gap:32px;

	&__title {
		font-size: $fs-30;
	}

	&__text {
		color:#4F5665;
		font-size:$fs-16;
		font-family: 'Ubuntu Medium';
	}
}