.button {
  border: none;
  border-radius: $border-radius-16;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2%;
  cursor: pointer;
  transition: $transition;
  font-size: $fs-16;

  @include respond-to(mobile) {
    padding: 10px;
  }

  &:hover, &:disabled {
    background-color: $blueHover;
  }
}
